<div class="container-fluid">

	<div class="col-md-offset-4 col-md-4 new-product wrap-text">
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @product.name %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @product.description %>
		</p>

		<p>
			<strong>Colour:</strong>
			<%= @product.colour %>
		</p>

		<p>
		  <strong>Image url:</strong>
		  <%= @product.image_url %>
		  <%= image_tag(@product.image_url, :class => "img-responsive") %>
		</p>
	</div>

	<div class="col-md-offset-4 col-md-4">
		<%= link_to 'Edit', edit_product_path(@product), :class => "btn btn-link" %> |
		<%= link_to 'Back', products_path, :class => "btn btn-link" %>
	</div>
</div>